.gallery

  .gallery_header
    ギャラリー一覧
  .gallery_main
    .gallery_main2
      = image_tag "IMG_0324.JPG", :size =>'250x200'
      = image_tag "https://publicdomainq.net/images/201710/07s/publicdomainq-0014143ddc.jpg", :size=> '250x200'
      = image_tag "https://www.pakutaso.com/shared/img/thumb/KAZUHIRO171013022_TP_V.jpg", :size =>'250x200'

  .gallery_bottom
    = link_to("戻る",root_path)