.header
  %h2.header_name
    Hair-Olive
.nabi
  %ul.nabi_bar_list
    %li.nabi_bar_list
      =link_to("Menu",root_path)
    %li.nabi_bar_list
      =link_to("スタッフ一覧",root_path)
    %li.nabi_bar_list
      =link_to("ギャラリー",gallery_index_path)
    %li.nabi_bar_list
      =link_to("アクセス",root_path)
    %li.nabi_bar_list
      =link_to("ブログ",blogs_path)
    %li.nabi_bar_list
      =link_to("レビュー",root_path)