.info
  .left  
    .infomation
      【infomation】
    .table
      .date
        2019/12/31
      .title
        【新着情報】
      .title2
        クーポン使用できます
    .table
      .date
        2020/01/05
      .title
        【ブログUP情報】
      .title2
        今日から〜〜〜
  .right
    .right-box
    
    