.header{
  height:100px;
  width:100vw;
  background-color: lightgreen;
  line-height:100px;
  text-align: center;
  font-family: impact;
  font-size:40px;
}

.nabi{
  height:70px;
  width:100vw;
  background-color: yellow;

  .nabi_bar_list{
    display:flex;
    justify-content: space-between;
    padding-left:10px;
    padding-right:10px;
    line-height: 70px;
    color:gray
  }
}